:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;  
  background-color: #143a44; 
  box-sizing: border-box;
}

.session-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: clamp(2rem, 5vh, 4rem);
}

.session-container {
  background-color: #1e4d59;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  width: 400px;
  max-width: 90vw;
  text-align: center;
  color: #fff;
}

.report-line {
  display: flex;
  justify-content: space-between; 
  margin: 0.5rem 0;
  color: #fff;
}

.label {
  font-weight: bold;
}

.value {
  font-weight: 300; 
}

.discount {
  font-weight: 300;
  color: #ccc; 
  margin-left: 0.5rem;
}


button {
  font-size: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.2;
  padding: 14px 20px;
  margin: 4px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #ffffff33;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #ffffff55;
    transform: scale(1.02);
  }

  &.selected {
    background-color: #0c2026;
    font-weight: bold;
    border: #ccc solid 0.5px;
  }
}
