.full-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.keypad-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .keypad-box {
    background-color: rgba(255, 255, 255, 0.85); // soft white
    backdrop-filter: blur(12px); // frosted glass effect
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #263e44;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }

  .input-field {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 2rem;
    color: #263e44;
  }

  .keys-grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;

    button {
      font-size: 1.5rem;
      padding: 20px;
      border: none;
      background-color: #2f484e;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #1565c0;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
